QUFA_DATA_USER=
QUFA_DATA_PASSWORD=
QUFA_DATA_DATABASE=
QUFA_DATA_HOST=

QUFA_DB_USER=
QUFA_DB_PASSWORD=
QUFA_DB_DATABASE=
QUFA_DB_HOST=
QUFA_DB_PORT=

ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
REGION=

FEAT_URL=
PROFILER_URL=
IMPUTATION_URL=
IMPUTATION_TOKEN=
FAIRNESS_URL=
FAIRNESS_TOKEN=
DIM_REDUCTION_URL=
DIM_REDUCTION_TOKEN=