extends layout

block content
  .row
    .col.s12
      a.waves-effect.waves-light.btn
        i.material-icons.left add
        | 신규데이터 추가

  .row
    .col.m8.input-field
      h6
        | 총 512건
    .col.m4.input-field
      i.material-icons.prefix search
      input#icon_prefix.validate(type='text')
      label(for='icon_prefix') 데이터 검색

  .row
    .col.s12
      table.data-table
        thead
          tr
            th.text-center.w60 
              i.check-option.material-icons.prefix check_box_outline_blank
            th 데이터셋명
            th Rows
            th Size
            th.w140 데이터품질
            th.w140 오류 지수
            th 데이터 유형
            th 데이터 등록일
            th
            th
        tbody
          tr
            td.text-center
              i.check-option.material-icons.prefix check_box_outline_blank
            td
              | 테스트 데이터 111
            td.text-right
              | 1,234,567,890 건
            td.text-right
              | 1.04 GB
            td.text-center
              each val in [1, 2, 3, 4, 5]
                if (val <= 3)
                  i.star.material-icons.prefix star
                else
                  i.star-border.material-icons.prefix star_border
            td.text-center
              #chartdiv.err-chart-wrap
            td.text-center
              | CSV
            td.text-center
              | 2021-08-09 12:24:32
          tr
            td.text-center
              i.check-option.material-icons.prefix check_box_outline_blank
            td.text-center
            td $3.76
          tr
            td.text-center
              i.check-option.material-icons.prefix check_box_outline_blank
            td.text-center Lollipop
            td $7.00

block scripts
  script(src='https://cdn.amcharts.com/lib/4/core.js')
  script(src='https://cdn.amcharts.com/lib/4/charts.js')
  script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')
  script.
    $(document).ready(function(){
      am4core.ready(function() {
        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.XYChart);
        chart.padding(0);

        // Add data
        chart.data = [{
          category: "One",
          value1: 2,
          value2: 1,
          value3: 7
        }];

        // Create axes
        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.renderer.labels.template.disabled = true;
        categoryAxis.renderer.ticks.template.disabled = true;

        var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.max = 100;
        valueAxis.strictMinMax = true;
        valueAxis.calculateTotals = true;
        valueAxis.renderer.minWidth = 50;
        valueAxis.labelsEnabled = false;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.renderer.ticks.template.disabled = true;

        var series1 = chart.series.push(new am4charts.ColumnSeries());
        series1.columns.template.tooltipText =
          "{name}: {valueX.totalPercent.formatNumber('#.00')}%";
        series1.name = "Series 1";
        series1.dataFields.categoryY = "category";
        series1.dataFields.valueX = "value1";
        series1.dataFields.valueXShow = "totalPercent";
        series1.stacked = true;

        var series2 = chart.series.push(new am4charts.ColumnSeries());
        series2.columns.template.width = am4core.percent(80);
        series2.columns.template.tooltipText =
          "{name}: {valueX.totalPercent.formatNumber('#.00')}%";
        series2.name = "Series 2";
        series2.dataFields.categoryY = "category";
        series2.dataFields.valueX = "value2";
        series2.dataFields.valueXShow = "totalPercent";
        series2.dataItems.template.locations.categoryX = 0.5;
        series2.stacked = true;
        series2.tooltip.pointerOrientation = "vertical";

        var series3 = chart.series.push(new am4charts.ColumnSeries());
        series3.columns.template.width = am4core.percent(80);
        series3.columns.template.tooltipText =
          "{name}: {valueX.totalPercent.formatNumber('#.00')}%";
        series3.name = "Series 3";
        series3.dataFields.categoryY = "category";
        series3.dataFields.valueX = "value3";
        series3.dataFields.valueXShow = "totalPercent";
        series3.dataItems.template.locations.categoryX = 0.5;
        series3.stacked = true;
        series3.tooltip.pointerOrientation = "vertical";
      });
    });
