@import "components/nav";

@import "app/file_form";
@import "app/meta";
@import "app/data";

body {
  background-color: #373740;
  color: #fff;
}

main {
  padding: 12px;
}

// Side-Nav에 따른 좌측 여백 설정
header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
