$dark-grey: #25262c;

.modal {
  &.lg {
    width: 90%;
    max-height: 80%;
  }
}

.modal-content {
  background-color: $dark-grey;

  .input-field {
    > input,
    > textarea {
      color: #fff;
    }
  }
}

#before-result,
#after-result {
  width: 100%;
  height: 650px;
}
