{{#each @this}}
<tr class="data-row" data-id="{{findByIndex @this 0}}">
  {{#each @this}}
  {{#ifCond @index ">" 0}}
  <td>
    {{#isEmpty @this}}
      {{@this}}
    {{/isEmpty}}
  </td>
  {{/ifCond}}
  {{/each}}
</tr>
{{/each}}