//  Modal Structure 
#compare-modal.modal.lg
  .modal-content
    h4 시각화 결과

    .row
      .col.l6
        h6 이전
        #before-result

      .col.l6
        h6 이후
        #after-result

  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 확인