//  Modal Structure 
#compare-modal.modal.lg
  .modal-content
    h4 공정성 지표 비교

    .row
      .col.l4
        h6 균등기회(Equality of Opportunity)
        #equality-result.chart-wrap

      .col.l4
        h6 균등승률(Equalized Odds)
        #equalized-result.chart-wrap

      .col.l4
        h6 인구통계패리티(Demographic Parity)
        #demographic-result.chart-wrap

  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 확인