.data-filter-box
  .filter-sort
    .sort-option
      a.sort-btn(href='#' data-direction="ASC")
        span.material-icons north
        | 오름차순 정렬
    .sort-option
      a.sort-btn(href='#' data-direction="DESC")
        span.material-icons south
        | 내림차순 정렬
  .filter-apply.right-align
    a.cancel-filter-btn(href='#') 취소
    a.apply-filter-btn(href='#') 적용하기