.fixed-action-btn
  a.btn-floating.btn-large.red
    i.large.material-icons settings
  ul
    if !currentTask
      li
        a.btn-floating.red.modal-trigger.tooltipped(href="#task-modal" target="_blank" data-position="left" data-tooltip="태스크 정의")
          i.material-icons account_tree
    li
      a.btn-floating.yellow.darken-1.modal-trigger.tooltipped(href="#profile-modal" data-position="left" data-tooltip="프로파일링 상세결과")
        i.material-icons description
    li
      a.btn-floating.orange.importance-btn.tooltipped(href="#importance-modal" data-position="left" data-tooltip="중요도 분석")
        i.material-icons pivot_table_chart
        
    if currentTask
      li
        a.btn-floating.green.visual-btn.tooltipped(href="#visual-modal" data-position="left" data-tooltip="시각화" data-task=currentTask.task)
          i.material-icons analytics
    li
      a.btn-floating.blue.tooltipped(href=`/datasets/${dataset.id}/download` target="_blank" data-position="left" data-tooltip="다운로드")
        i.material-icons file_download