.fixed-action-btn
  a.btn-floating.btn-large.red
    i.large.material-icons settings
  ul
    li
      a.btn-floating.red(href=`/datasets/${dataset.id}/download` target="_blank")
        i.material-icons file_download
    li
      a.btn-floating.yellow.darken-1
        i.material-icons description
    li
      a.btn-floating.green
        i.material-icons publish
    li
      a.btn-floating.blue
        i.material-icons file_download