//  Modal Structure 
#task-modal.modal
  .modal-content
    h4 QUFA 태스크 정의
    p 아래 태스크를 Drag&Drop하여 품질 또는 공정성 관련 태스크를 정의할 수 있습니다.

    ul#qufa-tasks
      li.qufa-item.ui-state-highlight(data-task="outlier") 이상치 제거
      li.qufa-item.ui-state-highlight(data-task="imputation") 결측치 보완
      li.qufa-item.ui-state-highlight(data-task="feature") 특징추출
      li.qufa-item.ui-state-highlight(data-task="fairness") 공정성
    
    ul#qufa-tasks-box
      each task in project.tasks
        li.qufa-item.ui-state-highlight(data-task=task.task)=task.getTaskMsg()
        

  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') 취소
    a.save-task.waves-effect.waves-green.btn-flat(href='#!') 저장하기