extends ../layout

block content
  .row
    .col.s12
      ul.tabs
        li.tab
          a.active(href='#tab-meta') 메타데이터
        li.tab
          a(href='#tab-preview') 데이터 미리보기
        li.tab
          a(href='#tab-profile' data-tab='profile') Profile
        li.tab
          a(href='#test3') 특징추출
        li.tab
          a(href='#test3') 중요도 분석
        li.tab
          a(href='#test4') 결측치 보완
        li.tab
          a(href='#test4') 이상치 제거
    #tab-meta.col.s12
      #meta-wrap
    #tab-preview.col.s12.table-responsive
      table.preview-table
        thead
          tr
            each meta in data.metas
              th
                | #{meta.name}
                br
                small
                  | #{meta.colType}
        tbody#rows
    #tab-profile.col.s12
      #profile-wrap

block scripts
  script(src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
  script(src='/javascripts/app/handlebars-helper.js')
  script(src='https://cdn.amcharts.com/lib/4/core.js')
  script(src='https://cdn.amcharts.com/lib/4/charts.js')
  script(src='https://cdn.amcharts.com/lib/4/themes/animated.js')
  script.
    var metaTemplate;
    var rowsTemplate;
    var profileTemplate;

    $(document).ready(function(){
      $(".loading").addClass("active");

      $('.tabs').tabs();

      $.get("/javascripts/templates/data/meta.hbs", function(t1) {
        metaTemplate = Handlebars.compile(t1);
        $.get("/javascripts/templates/data/rows.hbs", function(t2) {
          rowsTemplate = Handlebars.compile(t2);

          $.get("/javascripts/templates/data/profile.hbs", function(t3) {
            profileTemplate = Handlebars.compile(t3);
            findMetaWithData();
          });
        });
      });

      function findMetaWithData(options) {
        $.getJSON("/datas/" + #{data.id}, function(d) {
          var metaHtml = metaTemplate(d.data.metas);
          $("#meta-wrap").html(metaHtml);

          var rowsHtml = rowsTemplate(d.rows[0]);
          $("#rows").html(rowsHtml);

          $(".loading").removeClass("active");
        });
      }


      var profileResult;

      $('ul.tabs').on('click', 'a', function(e) {
        var selectedTab = $(this).data('tab');
        if (selectedTab) {
          if (selectedTab == "profile" && !profileResult) {
            $.getJSON("/datas/" + #{data.id} + "/profile", function(d) {
              console.log(d);
              if (d && d.status == "success") {
                profileResult = d.results;

                var profileHtml = profileTemplate(profileResult);
                $("#profile-wrap").html(profileHtml);
              }
            });
          }
        }
      });
    });