<div class="col s12 center-align">
  <ul class="pagination">
      <li><a href="#"><i class="material-icons">keyboard_double_arrow_left</i></a></li>
      <li><a href="#"><i class="material-icons">chevron_left</i></a></li>
      <li class="disabled"><a href="#!"><i class="material-icons">keyboard_double_arrow_left</i></a></li>
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="waves-effect"><a href="#"></a></li>
      <li class="active"><a href="#!"></a></li>
      <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
      <li class="waves-effect"><a href="#"><i class="material-icons">keyboard_double_arrow_right</i></a></li>
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      <li class="disabled"><a href="#!"><i class="material-icons">keyboard_double_arrow_right</i></a></li>
  </ul>
</div>