ul#slide-out.sidenav.sidenav-fixed
  li
    a.active(href='#!')
      i.material-icons folder_shared
      | 프로젝트 관리
  li
    a(href='#!') 
      i.material-icons source
      | 데이터 관리
  li
    a(href='#!') 
      i.material-icons cloud
      | 데이터 저장소
  li
    .divider
  li
    a.subheader Subheader
  li
    a.waves-effect(href='#!') ...