ul#slide-out.sidenav.sidenav-fixed
  li
    a.active(href='/projects')
      i.material-icons folder_shared
      | 프로젝트 관리
  li
    a(href='#!') 
      i.material-icons source
      | 데이터 관리
  li
    a(href='#!') 
      i.material-icons cloud
      | 데이터 저장소
  li
    .divider
  li
    a.subheader Subheader
  
  if currentUser && currentUser.role == 0
    if currentUser.group.id == 1
      li
        a(href='/groups') 
          i.material-icons group
          | 그룹관리
    li
      a(href='/users') 
        i.material-icons group
        | 사용자관리