.data-table {
  background-color: #25262c;

  thead {
    > tr {
      > th {
        color: #8494ae;
        text-align: center;

        &.w60 {
          width: 60px;
        }
      }
    }
  }

  thead,
  tbody {
    > tr {
      border-bottom: 1px solid #34353a;

      > th,
      > td {
        &.w140 {
          width: 140px;
        }

        .check-option {
          color: #4e586b;
        }

        .star {
          font-size: 20px;
          color: #c0a32a;
        }

        .star-border {
          font-size: 20px;
          color: #4e586b;
        }
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .err-chart-wrap {
    width: 120px;
    height: 20px;
  }
}

table.preview-table {
  thead,
  tbody {
    tr {
      .min {
        white-space: nowrap;
      }

      &:first-child {
        > th,
        > td {
          border-top: 1px solid #4e586b;
        }
      }

      th,
      td {
        border-right: 1px solid #4e586b;
        border-bottom: 1px solid #4e586b;

        &:first-child {
          border-left: 1px solid #4e586b;
        }

        small {
          color: #8494ae;
        }

        &.col-header {
          position: relative;

          .filter-btn {
            position: absolute;
            top: 8px;
            right: 8px;
          }
        }
      }
    }
  }
}

.num-chart-wrap {
  padding: 0 !important;

  .num-chart {
    max-width: 100%;
    min-width: 200px;
    height: 140px;
    position: relative;

    .profile-value {
      padding: 4px 8px !important;
      font-size: 12px;
      font-weight: normal;
      min-width: 200px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%);

      span {
        min-width: 58px;
        display: inline-block;

        &.value {
          min-width: 120px;
          text-align: right;
        }
      }
    }
  }
}

.data-filter-box {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 24px;

  padding: 8px;
  background-color: #fff;
  border: 1px solid #000;
  width: 220px;

  .filter-sort {
    .sort-option {
      > a {
        > span.material-icons {
          font-size: 18px;
          margin-right: 16px;
        }

        color: #4db6ac;
        display: block;
        padding: 8px;

        &:hover,
        &:active,
        &.active {
          background-color: #ededed;
        }
      }
    }
  }

  .filter-apply {
    margin-top: 16px;
    margin-bottom: 8px;

    .apply-filter-btn {
      background-color: #009688;
      color: #fff;
      padding: 8px 16px;
      border-radius: 16px;
      margin-left: 16px;

      &:hover {
        background-color: #00695c;
      }
    }
  }
}

.tab-wrap {
  position: relative;
  min-height: 86vh;
  background-color: #25262c;
}
