.meta-config-wrap {
  background-color: #25262c;
  padding: 1rem;

  > .row {
    margin-bottom: 0;

    .dropdown-trigger {
      color: #fff !important;
    }

    .input-field {
      color: #fff;
      margin-bottom: 0;
    }
  }
}

table.meta-form-table {
  thead,
  tbody {
    > tr:first-child {
      th,
      td {
        border-top: 1px solid #ddd;
      }
    }

    > tr {
      > th:first-child,
      > td:first-child {
        border-left: 1px solid #ddd;
      }

      > th,
      > td {
        padding: 4px 8px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        svg.caret {
          fill: #fff;
        }
        input {
          color: #fff;
        }

        .input-field {
          position: relative;
          display: inline-block !important;
          margin-top: 0;
          margin-bottom: 0;

          > input {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
