#qufa-tasks {
  .qufa-item {
    font-weight: 18px;
    padding: 8px 16px;
    background-color: #00897b;
    border: 2px solid #fff;
    display: inline-block;
    margin-right: 16px;
  }
}

#qufa-tasks-box {
  padding: 16px;
  border: 2px solid #fff;

  .qufa-item {
    display: inline-block;
    background-color: #ffee58;
    border: 2px solid #fff;
    color: #000;
    padding: 8px 16px;
    margin-right: 16px;
  }
}
