#qufa-tasks {
  .qufa-item {
    font-weight: 18px;
    padding: 8px 16px;
    background-color: #00897b;
    border: 2px solid #fff;
    display: inline-block;
    margin-right: 16px;

    &:hover {
      cursor: move;
    }
  }
}

#qufa-tasks-box {
  padding: 16px;
  border: 2px solid #fff;

  .qufa-item {
    display: inline-block;
    background-color: #ffee58;
    border: 2px solid #fff;
    color: #000;
    padding: 8px 16px;
    margin-right: 32px;
    position: relative;

    &:hover {
      cursor: move;
    }

    &:after {
      content: ">";
      display: inline-block;
      position: absolute;
      right: -20px;
      color: #fff;
    }

    &:last-child,
    &.ui-draggable-dragging {
      &:after {
        content: "";
        right: 0px;
        color: #fff;
      }
    }
  }
}

.select-wrapper input.select-dropdown {
  color: #fff;
}
